.pageWrapper {
  min-height: 100dvh;
}

.title {
  margin-bottom: 50px;
}

.productWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 25px;
  margin-bottom: 25px;
}

.emptyCartWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  width: fit-content;
}

.productCard {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 0.5px solid grey;
}

.productImage {
  border-radius: 10px;
  object-fit: cover;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.productProperties {
  color: grey;
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 5px;
}

.productCondition {
  text-transform: capitalize;
}

.productPrice {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
}

.itemQuantity {
  border: 1px solid;
  border-radius: 2px;
  // width: min-content;
  color: grey;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  // BELOW CAN BE REMOVED WHEN InputStepper IS ADDED
  width: 50px;
  padding: 5px 10px;
  justify-content: center;
  // UNTIL HERE
}

.quantityButton {
  background-color: transparent;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  border: 0px;
  color: grey;
  font-weight: 600;
  font-size: 14px;
  &:hover {
    color: black;
    cursor: pointer;
  }
}

.totalQuantityWrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.deleteButton {
  font-weight: 800;
  font-size: 18px;
  background-color: transparent;
  border: 0px;
  &:hover {
    transform: rotate(90deg);
    transition-duration: 0.5s;
    cursor: pointer;
  }
}

.totalItemQuantity {
  font-size: 18px;
  font-weight: 600;
}

.cartTotal {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}

.removeCartItem {
  font-weight: 800;
  font-size: 18px;
  background-color: transparent;
  border: 0px;
  &:hover {
    transform: rotate(90deg);
    transition-duration: 0.5s;
    cursor: pointer;
  }
}
