.style {
  border: 1px solid;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 25px;
}

.containerWrapper {
  overflow: hidden;
  border-radius: 25px 0px 0px 25px;
}

.container {
  background-image: url('../../public/images/1.jpeg');
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  box-sizing: border-box;
  transform: scale(1.1);
  // border: 15px solid white;
  border-radius: 50px 0px 0px 50px;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pieceOne {
  width: 50%;
  // border: 15px solid white;
  border-radius: 0px 50px 50px 0px;
}

.pieceTwo {
  width: 50%;
}

.sideBar {
  border: 1px solid;
}
