*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

// Own styling

nav {
  height: 80px;
  position: fixed;
  width: 100%;
  padding: 0px 96px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
  z-index: 99;
}

header {
  padding-bottom: 120px;
}
