.productListingsTitle {
  margin-bottom: 25px;
}

.productListing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  // border: 1px solid;
}

.productCard {
  display: flex;
  flex-direction: column;
  &:hover {
    transform: translateY(-0.375rem);
    transition-duration: 0.25s;
  }
}

.productImage {
  border-radius: 10px;
}

.deal {
  position: absolute;
  background-color: white;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 15px;
  color: black;
}

.productText {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.productTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.productProperties {
  color: grey;
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 5px;
}

.productCondition {
  text-transform: capitalize;
}

.productPrice {
  font-size: 18px;
  font-weight: 600;
}

.productStrikePrice {
  text-decoration: line-through;
  font-weight: 200;
  color: grey;
}
