.pageWrapper {
  border: 1px solid;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  margin-bottom: 25px;
}

.pageContent {
  border: 1px solid;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 25px;
}

.pageBody {
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  width: 100%;
  height: 100%;
  border: 1px solid;
  position: relative;
  .sidebox {
    // width: 365px;
    // height: 200px;
    padding: 50px;
    position: fixed;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
