.mainContainer {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 25px;
  min-height: 100dvh;
}

.leftContainer,
.rightContainer {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstRow {
  width: inherit;
  height: 242px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}

.backgroundImage {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  transform: scale(1.1);
  border-radius: 50px 0px 0px 50px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  object-fit: cover;
  object-position: center;
  opacity: 50%;
  z-index: -1;
}

.secondRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 25px;
  width: 85%;
  height: 200px;
  margin-top: -140px;
  z-index: 1;
}

.firstCol {
  height: inherit;
  width: 30%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
}

.secondCol {
  height: 60%;
  width: 60%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.secondColList {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 600;
}

.condition {
  text-transform: capitalize;
}

.thirdRow {
  margin-top: 50px;
  width: inherit;
  height: fit-content;
}

.fourthRow {
  margin-top: 25px;
  width: inherit;
  height: fit-content;
  text-align: justify;
}

.rightContainer {
  position: relative;
}

.floatBox {
  width: inherit;
  padding: 30px 0px;
  position: sticky;
  top: 120px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

.floatBoxContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.price {
  font-size: 32px;
  font-weight: 600;
}

.piece {
  font-size: 50%;
  font-weight: 200;
}
